:root {
/* colors generated via coolors.co */
  --space-cadet: #282d52ff;
  --marian-blue: #454e8cff;
  --tropical-indigo: #7a7bcdff;
  --vista-blue: #9eadf0ff;
  --periwinkle: #b1c7f9ff;
  --lavender-web: #d6d9ebff;
  --white: #ffffffff; 
}

* {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: var(--lavender-web);
  font-family: Roboto, veranda;
  padding-bottom: 4em;
}

header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ProfilePic {
  width: 20%;
  min-width: 5%;
  border: 5px solid var(--periwinkle);
  border-radius: 50%;
}

figure img {
  border-radius: 50%;
}

header h1{
  flex-direction: row;
  color: var(--space-cadet);
  font-size: 500%;
  margin: 1% auto;
}

#LastName {
  color: var(--marian-blue);
  margin-left: 2%;
}

nav {
  flex-direction: row;
}

nav ul {
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0px;
}

nav ul li {
  text-align: center;
  align-items: center;
  margin: 2%;
}

nav ul li a {
  border: 2px solid var(--tropical-indigo);
  border-radius: 10%;
}

aside {
  /* background-color: var(--lavender-web); */
  /* border-radius: 5%; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 0;
  font-weight: bold;
  /* color: black; */
}

aside h2 {
  color: var(--space-cadet);
  font-size: 150%;
  border-bottom: 3px double var(--space-cadet);
  width: 100%;
}

aside ul {
  padding-left: 0;
  color: var(--space-cadet);
  /* border-top-style: double; */
  /* border-top: 2% double var(--marian-blue); */
}

.contactType {
  font-style: italic;
  font-weight: lighter;
}

article h2 {
  justify-content: center;
  align-items: center;
  font-size: 200%;
  border-bottom: 3px double var(--space-cadet)
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 5%;
}

.cardPicture {
  border-radius: 15px 15px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  text-align: center;
  background-color: var(--white);
  border-radius: 0 0 15px 15px;
}

@media screen and (min-width: 768px) {
  article section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 1% 1%;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 100%;
  }
  
  .card {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}  