:root {
/* colors generated via coolors.co */
    --space-cadet: #282d52ff;
    --marian-blue: #454e8cff;
    --tropical-indigo: #7a7bcdff;
    --vista-blue: #9eadf0ff;
    --periwinkle: #b1c7f9ff;
    --lavender-web: #d6d9ebff;
    --white: #ffffffff; 
}

* {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: var(--lavender-web);
}

header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ProfilePic {
    width: 20%;
    min-width: 5%;
    border: 5px solid var(--periwinkle);
    border-radius: 50%;
}

figure img {
    border-radius: 50%;
}

header h1{
    flex-direction: row;
    color: var(--space-cadet);
    font-size: 500%;
    margin: 1% auto;
}

#LastName {
    color: var(--marian-blue);
    margin-left: 2%;
}

nav {
    flex-direction: row;
}

nav ul {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0px;
}

nav ul li {
    text-align: center;
    align-items: center;
    margin: 2%;
}

nav ul li a {
    border: 2px solid var(--tropical-indigo);
    border-radius: 10%;
}

aside {
    background-color: var(--vista-blue);
}

article {
    
}